/*
  @description       : 
  @author            : Juan Espinoza León
  @group             : 
  @last modified on  : 11-29-2021
  @last modified by  : Juan Espinoza León
*/
.modalBody {
    position: relative;
}